<div class="flex justify-end p-4">
  <button (click)="toggleTheme()" class="focus:outline-none transition-transform transform hover:scale-105">
    @if(!isDarkTheme) {
    ☀️
    } @else {
    🌙
    }
  </button>
</div>
<div id="chart-container" class="p-4"></div>
@if(showTable) {
<div class="p-4">
  <table class="min-w-full bg-white dark:bg-gray-800">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b dark:border-gray-700">Group</th>
        <th class="py-2 px-4 border-b dark:border-gray-700">Date</th>
        <th class="py-2 px-4 border-b dark:border-gray-700">Value</th>
      </tr>
    </thead>
    <tbody>
      @for(row of data; track data) {
      <tr>
        <td class="py-2 px-4 border-b dark:border-gray-700">{{ row['group'] }}</td>
        <td class="py-2 px-4 border-b dark:border-gray-700">{{ row['date'] }}</td>
        <td class="py-2 px-4 border-b dark:border-gray-700">{{ row['value'] }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
