/* You can add global styles to this file, and also import other style files */
@import '@carbon/charts-angular/styles.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

rect.zoom-bg {
  fill: purple !important;
}

path.zoom-graph-area-unselected {
  fill: white !important;
  stroke: black !important;
}
